<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Show me the fruits</title>
    </head>
    <body>
        <h1>Fruits show page</h1>
        <h3>The {{fruit.name}} is {{fruit.color}}.</h3>
        {% if fruit.readyToEat %}
            <p>it is ready to eat</p>
        {% else %}
            <p>It is NOT ready to eat</p>
        {% endif %}
        <h4>Wanna go back to the home page?</h4>
        <a href="/fruits/">Take me home country roads</a>
    </body>
</html> 